.new{
    color: #ffffff;
    font-size: 25px;
}

.b1 {
    background-color: #575757;

}

.congrad{
    font-size: 50px;
    font-family: sans-serif;
}

.div-span{
    width: 355px;
    margin: 0 auto;
}

.container{
    margin-top: 20px;
}

.deg-span{
    font-weight: bold;
}